{# {{ attach_library('beautifier_theme/cuddly-slider') }} #}
<div class="container">
<div class="contentWrapper">
<div class="header">
    <div class="homepageImgLogo"><img src="{{ base_path ~ directory }}/images/s3.jpg" alt="My Logo" /></div>
    <div class="text">Welcome to My new world</div>
</div>
<ul class="ulHeader">
    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
</ul>
</div>
<body class="bodycolor">
    <div>
    {{page.content}}
    </div>
<h1>hello ramana</h1>
<p>My brand new mobiles</p>
    <div class="homepageImg"><img src="{{ base_path ~ directory }}/images/sa1.jpg" /></div>
</body>
</div>
